<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a product</h1>
    <form action="/products" method="POST">
        <section>
            <label for="name">Product Name</label>
            <input type="text" name="name" id="name" placeholder="product name">
        </section>
        <section>
            <label for="price">Price</label>
            <input type="number" name="price" id="price" placeholder="product price">
        </section>
        <section>
            <label for="category">Category</label>
            <select name="category"id="category">
                <% for( const [key, value] of Object.entries(categories)) { %>
                    <option value=<%= value%> ><%= value %> </option>
                <% } %>

            </select>
        </section>

        <button>Add product</button>
    </form>
</body>
</html>